@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sen';
    src: url('https://fonts.googleapis.com/css?family=Sen');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

@layer components{
    .loginBg{
        background-image: url('../moutain.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

#footerID{
    display: flex;
    flex-direction: column;
}
#footerID a{
    font-weight: normal;
    width: 100%;
    box-sizing: border-box;
}
#footerID a:hover{
    font-weight: bold;
}
@media only screen and (min-width: 800px){
    #footerID{
        flex-direction: row;
        a {
            padding: 10px;
        }
    }
}

.loginBg{
    background-image: url('../moutain.png');
    background-size: cover;
    background-repeat: no-repeat;
}